function mkcd () {
    mkdir $1
    cd $1
}

alias aliases="vim ~/.aliases"
alias zshrc="vim ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias copykey="pbcopy < ~/.ssh/id_rsa.pub"
alias pgstart="pkill postgres && postgres -D /usr/local/var/postgres"
alias godir="cd ~/go/src/github.com/berto"
# https://github.com/pipeseroni/pipes.sh
alias pipes="pipes -f20 -p7 -R"
