# This is Git's per-user configuration file.
[user]
	name = Roberto Ortega
	email = berto.ort@gmail.com
	username = berto
[core]
	editor = /usr/bin/vim
[alias]
	co = checkout
        cob = checkout -b
	c = commit
        cm = commit -m
	cam = commit -am
        st = status
	br = branch
        s = status -s
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[github]
	user = berto
